@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: rgb(65, 63, 63);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-width: 400px;
}

.container {
    flex: 1;    /* same as flex-grow: 1; */
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(22, 22, 22, 0.5) 0%, rgba(22, 22, 22, 0.5) 100%),
        url('/img/laposada_background.jpeg') center center/cover no-repeat scroll;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 5em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    color: #fff;
}

.btn-crt {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 30px;
    border-radius: 3px;
}

.btn-rsv {
    font-size: 1em;
    color: #fff;
    background: #719A0B;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 30px;
    border-radius: 3px;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #ff0157;
}

Section Historia
section {
    padding: 100px;
}

/* .historia, .comida, .equipo {
    background-image: url(/img/laposada-fish-background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} */

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50 {
    position: relative;
    width: 48%;
}
.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx {
    position: relative;
    width: 100%; 
    /* min-height: 300px; */
    height: 100%;
}
.row .col50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    /* width: 600px; */
    /* height: 90%; */
    height: 400px;
    /* max-width: 100%; */
    /* height: auto; */
    object-fit: cover;
    border: 1px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

/* Section Comida */
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.recomendaciones .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.recomendaciones .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.recomendaciones .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}
.recomendaciones .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recomendaciones .content .box .text {
    padding: 15px 0 5px;
}
.recomendaciones .content .box .text h3 {
    font-weight: 400;
    color: #111;
}

/* Section Chef  */
.equipo .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
.equipo .content .box {
    width: 340px;
    margin: 10px;
}
.equipo .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
    border: 3px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.equipo .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Section Contact  */
.contacto {
    padding: 100px 0 60px 0;
    background: url(/img/carta/laposada_contactbg.jpg) center top no-repeat fixed;
    background-size: cover;
}
.contact-in {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.8);
    min-width: 400px;

}
.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}
.contact-form h2, p {
    margin-bottom: 10px;
}
.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    outline: none; 
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-txtarea {
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-btn {
    width: 100%;
    border: none;
    outline:  none;
    background: #ff0157;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}
.button.lined {
    display: inline-block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .button.lined:hover {
    background-color: #fff;
    color: #000;
  }

/* Footer */
footer {
    background-color: #ff0157;
    line-height: 1.5;
}
/* Footer main */
.ft-title {
    color:#fff;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
    justify-content: center;
    text-transform: uppercase;
}
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}
.ft-main-item a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
.ft-main-item p {
    color: #fff;
    font-size: 13px;
}
.button {
    display: inline-block;
    margin: 20px auto 10px;
    padding: 6px 15px;
    border: 2px solid #d41350;
    border-radius: 3px;
    background-color: #f72869;
    transition: all 500ms ease;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.button.lined {
    display: inline-block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .button.lined:hover {
    background-color: #fff;
    color: #d41350;
  }

/* Footer social */
.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: 1px #fff solid; 
    padding-top: 1.25rem;
}
ul.ft-social-list  {
    list-style: none;
    padding-left: 0;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}
.ft-social-list li a {
    color: #fff;
}

/* Footer legal */
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.ft-legal-list p {
    color: #bbb;
}
/* Media Queries */
@media (max-width: 991px) {
    header,
    header.sticky {
        padding: 10px 20px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li {
        margin-left: 0;
    }
    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(/img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active {
        background: url(/img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    header.sticky .menuToggle {
        filter: invert(1);
    }
    section {
        padding: 20px;
    }
    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }
    /* .row {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .row .col50 {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx {
        height: 375px;
        margin: 20px;
    } */
    
    .menu .content {
        margin-top: 20px;
    }
    .menu .content .box {
        margin: 10px;
    }
    .menu .content .box .imgBx {
        height: 260px;
    }
    .title {
        text-align: center;
    }
    .titleText {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .contact-form {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .ft-main {
        display: flex;
        flex-direction: column;
    }
    
    @media (max-width: 480px) {
        .banner .content h2 {
            font-size: 2.2em;
            color: #fff;
        }
    
    }
}
