@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* END OF CSS RESET*/

/* GENERAL STYLES*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-width: 400px;
}
p {
    font-weight: 300;
    color: #686868;
}
h2 {
    font-weight: 400;
    font-size: 38px;
	color: #333;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
}


/* END OF GENERAL STYLES*/

/* BANNER */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(22, 22, 22, 0.5) 0%, rgba(22, 22, 22, 0.5) 100%),
        url("/img/laposada_background.jpeg") center center/cover no-repeat scroll;
}
.banner .content {
    max-width: 900px;
    text-align: center;
}
.banner .content h1 {
    font-size: 4em;
    color: #fff;
}
.banner .content p {
    font-size: 1em;
    color: #fff;
}
.btn-crt {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 30px;
    border-radius: 3px;
}
.btn-crt:hover {
    color: #fff;
    border: #ff0157 1px solid;
    background: transparent;
}

.btn-rsv {
    font-size: 1em;
    color: #fff;
    background: #719A0B;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 30px;
    border-radius: 3px;
}
.btn-rsv:hover {
    color: #fff;
    border: #719A0B 1px solid;
    background: transparent;
}
/* END OF BANNER */

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #ff0157;
}
/* END OF HEADER */

/* HISTORIA SECTION */
.historia {
position: relative;
width: 100%;
display: flex;
}

.historia .contentBx {
    background: #72b8a4;
    padding: 100px;
    width: 50%;
}
.historia .heading {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}
.text {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
}
.historia .imgBx {
    background: url(/img/laposada_historiaimg.jpeg);
    width: 50%;
    background-size: cover;
    background-position: center;
}
/* END OF HISTORIA SECTION */

/* RESTAURANTE MENU */

.restaurante-menu {
	padding: 100px 0 60px 0;
}
.restaurante-menu .section-title {
    margin-bottom: 70px;
}

.restaurante-menu .menu-section hr {
	margin: 0 auto;
}
.restaurante-menu .menu-section {
	margin: 0 20px 80px;
}
.restaurante-menu .menu-section-title {
	font-size: 32px;
	display: block;
	font-weight: 400;
	color: #444;
	margin: 20px 0;
	text-align: center;
}
.restaurante-menu .menu-item {
	margin: 45px 0;
	font-size: 18px;
}
.restaurante-menu .menu-item-name {
	font-weight: 400;
	font-size: 20px;
	color: #444;
	margin-bottom: 10px;
}
.restaurante-menu .menu-item-description {
	font-size: 15px;
	width: 85%;
    color: #777;
}
.restaurante-menu .menu-item-price {
	float: right;
	font-weight: 400;
	color: #555;
	margin-top: -36px;
}

/* END OF RESTAURANTE MENU */

/* RECOMMENDATION */
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin: 0 10px;
	padding: 20px 0;
}
ol.type li a {
	color: #999;
	font-weight: 500;
	font-size: 14px;
	padding: 12px 24px;
	background: #eee;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    text-decoration: none;
}
ol.type li a.active {
	color: #fff;
	background-color: #444441;
}
ol.type li a:hover {
	color: #fff;
	background-color: #444441;
    text-decoration: none;
}

.recomendaciones .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.recomendaciones .content .box {
    width: 340px;
    margin: 20px;
    border: 3px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.recomendaciones .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}
.recomendaciones .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recomendaciones .content .box .text {
    padding: 15px 0 5px;
    text-align: center;
    justify-content: center;
}
.recomendaciones .content .box .text h3 {
    font-weight: 400;
    color: #111;
}

.section-title {
	margin-bottom: 70px;
}

.section-title p {
	font-size: 15px;
    color: #777;
    text-align: center;
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
}
/* END OF RECOMMENDATION */

/* EQUIPO SECTION */
.equipo {
    background:  #f1f38a;
}
/* END OF EQUIPO SECTION  */
/* MEDIA QUERIES */
@media (max-width: 991px) {
    header,
    header.sticky {
        padding: 10px 20px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li {
        margin-left: 0;
    }
    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(/img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active {
        background: url(/img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    header.sticky .menuToggle {
        filter: invert(1);
    }
    section {
        padding: 20px;
    }
    .banner .content h1 {
        font-size: 3em;
        color: #fff;
    }
    .historia {
        flex-direction: column;
    }
    .historia .contentBx, .historia .imgBx {
        width:100%;
        padding: 50px;
        min-width: 400px;
        text-align: center;
    }
    
    @media (max-width: 480px) {
        .banner .content h1 {
            font-size: 2.2em;
            color: #fff;
        }
    
    }

}