.footer {
    text-align: center; /* Centraliza o texto no rodapé */
    padding: 20px; /* Espaço interno */
    background-color: #f8f8f8; /* Cor de fundo opcional */
}

.social-icons {
    display: flex; /* Usando flexbox para alinhar os ícones */
    justify-content: center; /* Centraliza horizontalmente os ícones */
    margin-bottom: 10px; /* Espaço abaixo dos ícones */
}

.social-icons a {
    margin: 0 10px; /* Espaçamento entre os ícones */
    color: #676767; /* Cor padrão dos ícones */
    font-size: 24px; /* Tamanho dos ícones */
    transition: color 0.3s; /* Transição suave para a cor */
}

/* Cores padrão das plataformas */
.social-icons a.facebook:hover {
    color: #1877f2; /* Azul do Facebook */
}

.social-icons a.instagram:hover {
    color: #e1306c; /* Rosa do Instagram */
}

.social-icons a.tripadvisor:hover {
    color: #00B300; /* Verde do TripAdvisor */
}
