VITE_WHATSAPP_NUMBER=34000000000
VITE_FACEBOOK_URL=https://www.facebook.com/profile.php?id=YOUR_ID
VITE_FACEBOOK_PAGE_URL=https://www.facebook.com/p/YOUR_PAGE/
VITE_INSTAGRAM_URL=https://www.instagram.com/YOUR_HANDLE/
VITE_TRIPADVISOR_URL=https://www.tripadvisor.es/YOUR_LISTING
VITE_MAPS_URL=https://maps.app.goo.gl/YOUR_LINK
